In [1]:
import pandas as pd
import os, datetime, time, pyodbc
from mysql import *
from sqlalchemy import create_engine
import df_to_sql.df_to_sql as sq
import create_table.tbl_mysql as myq
import create_table.tbl_mssql as msq

pt = os.getcwd()

def constr(user = 'sa', password = '1q2w3eaz$', host = '192.168.0.102',db = "omdb"):
    cstr = 'mysql+mysqlconnector://' + user + ':' + password + '@' + host + '/' + db
    return cstr

def mssql(db = "omdb", user = 'sa', password = '1q2w3eaz$', host = '192.168.0.102'):
    cstr = "Driver={SQL Server};SERVER=" + host + ";DATABASE=" + db + ";UID=" + user + ";PWD=" + password
    #engine = create_engine("mssql+pyodbc://sa:1q2w3eaz$@192.168.0.102/omdb?driver=SQL+Server+Native+Client+10.0")
    conn = pyodbc.connect(cstr)
    return conn

def mysql(db = "odb", user = 'root', password = 'admin', host = '127.0.0.1:3306'):
    constr = 'mysql+mysqlconnector://' + user + ':' + password + '@' + host + '/' + db
    engine = create_engine(constr, echo=False)
    conn = engine.raw_connection()
    return conn

def upd(df, db, tbl, conn, bycolumn=[]):
    x = sq.df_to_sql(df, db , tbl, conn, bycolumn)
    print(chr(10),tbl,chr(10),x)

def ins(df, db, tbl, conn):
    x = sq.df_to_sql(df, db, tbl, conn, oncolumn = 'ALL')
    print(chr(10),tbl,chr(10),x)

db = 'omdb'
csv1 = "D:\\omEngin\\AOmPy_o_\\csv_o_\\sclick.csv"
df = pd.read_csv(csv1)
con1 = mssql()
con2 = mysql()
sq.get_server_name('ombd', 'tbl2', con2)

#print(dfx)

'MSSQL'

In [ ]:
import