In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from o_fnsql_2 import *

st = cstr('mssql','sa','1q2w3eaz$','192.168.0.102','omdb')
engin = create_engine(st)
conn = engin.connect()
rs = conn.execute('select * from tbl2')