In [5]:
import MySQLdb
import pandas as pd


def print_row_bynum(ar,rwnum,li):
    #lrw = (ar).shape[0]
    lcol = (ar).shape[1]
    j = 0
    heap = ""
    while j < lcol:
        hd = str(li[j]) + ":" + str(ar[rwnum][j])
        if j == 0:
            heap = hd
        else:
            heap = heap + '/n' + hd
        j = j + 1
    return heap

def vba_match(ar,src,colnum):
    lrw = (ar).shape[0]
    lcol = (ar).shape[1]
    i = 0
    while i < lrw:
        if src == ar[i][0]:
            break
        i = i + 1
    return i

def fn_parse(ar,src,colnum):
    lrw = (ar).shape[0]
    lcol = (ar).shape[1]
    i = 0
    while i < lrw:
        if src == ar[i][0]:
            break
        i = i + 1
    return i



   







conn= MySQLdb.connect("localhost","root","admin","omdb")
df = pd.read_sql("select * from sitedb",conn)
#print(df.head())
ls = ['Site_Code', 'DG_Status','Revenue_(in_K_BDT)','Priority']
df2 = df[ls]
print(df2)
lst = df2.columns.tolist()
arr = df2.to_numpy()
#fn_byrw(arr,50,lst)
#print(vba_match(arr,'DHGUL19',1))

      Site_Code DG_Status Revenue_(in_K_BDT) Priority
0       CXSDR09        No            1972.02       P1
1       GGKSN21       Yes               0.00       P3
2       CGPTA39        No            1493.49       P1
3       CGHTZ03        No            1454.95       P1
4       GPSRP08        No             331.18       P2
...         ...       ...                ...      ...
11883   JHKLG26        No                 NA       P3
11884   SYGLP36        No                 NA       P3
11885   CDSDR22        No                 NA       P3
11886   BMASG20        No                 NA       P3
11887   SYBLG37        No                 NA       P3

[11888 rows x 4 columns]